html {
  height: 100%;
}

body {
  height: 100%;
  /*background-image: url('http://2.bp.blogspot.com/_VZZE7p2GUjs/SEnKL9DHBxI/AAAAAAAAAN0/FMhKkKzrBN0/s400/Meme');*/
}

input {
  margin: 10px;
  border-radius: 10px;
}

form {
  position: relative;
  text-align: center;
  width: 100%;
  top: 0%;
}

#app {
  position: relative;
  margin-top: 0px;
}

#main {
  margin-bottom: 75px;
  overflow: auto;
}
.container {
  /*background-color: white;*/
  background:rgba(255,255,255,0.7);
  height: 100%;
  width: 100%;
}

footer {
  position: relative;
  margin-top: -75px; /* negative value of footer height */
  height: 50px;
  clear:both;
  padding: 20px 20px;
  background-color: rgb(44, 62, 80);
  color: white;
} 

.signIn, .signUp{
  padding: 10px;
  margin: 10px;
}

.tableHeader {
  background-color: rgb(44, 62, 80);
  color: white;
  border-radius: 100px;
}

.center-align {
  text-align: center;
  left: auto;
  right: auto;
}

#loginForm {
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 25px;
  padding: 25px;
  color: white;
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
  z-index: 2;
  padding: 10px;
  text-align: center;
}

#videoBackgroundContainer {
  position: relative;
  margin: 0;
  height: 560px; 
  background-color: #282828;
  overflow: hidden;
}

#videoBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 1000px;
  height: auto;
  transform: translate(-50%, -50%);
}

#nav {
  border-radius: 8px 8px 0 0;
  margin-bottom: 0;
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav:first-child {
  margin-left: 5px;
}

.navbar-right {
  float: right!important;
}

.actualMap {
  height: 400px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#brandFont {
  font-family: 'Satisfy', cursive;
  margin-right: 25px;
}

.mainComponent {
  margin: 5px;
  padding: 15px;
}

.optionsForm {
  position: relative;
  width: 100%;
  height: 60%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
}

.optionsLabel {
  display:inline-block;
  width: 100px;
}

.optionsInput {
  width: 50%;
  margin: 0px;
}

.optionsInput2 {
  width: 40%;
  margin: 0px;
}

.optionsInput1 {
  width: 30%;
  margin: 0px;
}

.optionsButton {
  border-spacing: 5px;
  padding: 2px;
  margin: 5px;
}

